<div class="row">
    <div class="col s12">
        <h1 class="page-header">Edit un pokemon</h1>
        <div class="col s12">
            <nav>
                <div class="nav-wrapper">
					<a routerLink="/" class="breadcrumb">Dashboard</a>
					<a routerLink="/pokemons" class="breadcrumb">Pokemon</a>
					<a class="breadcrumb">Edit</a>
                </div>
            </nav>
		</div>

		<div class="row" *ngIf="pokemon">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input placeholder="Image url" id="image" name="image" type="text" class="validate" value="{{pokemon.img}}" [(ngModel)]="pokemon.img">
					</div>
					<div class="input-field col s6">
						<input placeholder="Nom" id="name" name="name" type="text" class="validate" value="{{pokemon.name}}" [(ngModel)]="pokemon.name">
					</div>
					<div class="input-field col s6">
						<input placeholder="Level" id="level" name="level" type="number" class="validate" value="{{pokemon.level}}" [(ngModel)]="pokemon.level">
					</div>
					<div class="col s12">
						<p>Types</p>
						<div *ngFor="let type of types">
							<input type="checkbox" class="filled-in" id="{{type.slug}}" (change)="onTypeChange(type,$event)"/>
							<label for="{{type.slug}}">{{type.name}}</label>
						</div>
					</div>
					<div class="col s12">
						<p>Evolutions</p>
						<div *ngFor="let pokemon of pokemons">
							<input type="checkbox" class="filled-in" id="{{pokemon.slug}}" (change)="onPokemonChange(pokemon,$event)"/>
							<label for="{{pokemon.slug}}">{{pokemon.name}}</label>
						</div>
					</div>
				</div>
				<div class="btn" (click)="updatePokemon()">Enregistrer</div>
			</form>
		</div>
    </div>
</div>