<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin pokemon</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>

    <body>
        <header>
            <nav class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img src="assets/logo.png">Admin</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="sass.html">Aller sur le site</a></li>
                    </ul>
                </div>
            </nav>
        </header>

	<div class="row" style="margin: 0;">

        <nav class="col s3" style="height: 100vh;">
            <ul>
                <li class="col s12">
                    <a href=""><i class="left material-icons">insert_chart</i> Dashboard</a>
                </li>
                <li class="col s12">
                    <a routerLink="/types"><i class="left material-icons">insert_chart</i> Types</a>
                </li>
                <li class="col s12">
                    <a routerLink="/pokemons"><i class="left material-icons">insert_chart</i> Pokemons</a>
                </li>
            </ul>
        </nav>

        <main class="col s9">
			<router-outlet></router-outlet>
        </main>
    </div>
</body>
</html>