main nav {
    background-color: transparent !important;
    box-shadow: none;

    a.breadcrumb:last-child {
        color: #000000;
    }

    a.breadcrumb, a.breadcrumb:before {
        color: #9a9a9a;
    }
}

.page-header{
    font-size: 3em;
}